* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.toolbar {
  display: grid;
  grid-template-areas: "toolbar-left toolbar-right";
  width: 100%;
  height: 48px;
  top: 0px;
  position: ;
}

.toolbar-left {
  grid-area: toolbar-left;
  background-color: #00aeef;
  display: flex;
}
/* menu button*/
.menu {
  display: flex;
  flex-direction: column;
  position: absolute; /*here */
  width: 364px;
  overflow: ;
  z-index: 999;
  height: 100%;
}
.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 61px;
}

.menu-btn button {
  height: 48px;
  width: 61px;
  background-color: #00aeef;
  border: none;
}

.menu-btn img {
  height: 45px;
  width: 45px;
}

.menu-btn button:hover {
  background-color: #0280ae;
}
/* -------------------------menu Container-------------------------------------*/

.menu-container {
  height: 100vh;
  width: 364px;
  background-color: rgb(255, 255, 255);
  display: block;
  overflow: hidden;
  overflow-y: scroll;
}

.hide {
  display: none;
}

.menu-container::-webkit-scrollbar {
  width: 6px;
}

.menu-container::-webkit-scrollbar-track {
  background-color: #ececec;
  border-radius: 20px;
}

.menu-container::-webkit-scrollbar-thumb {
  background-color: #00aeef;
  border-radius: 20px;
}
/* -------------------------menu Container-------------------------------------*/

.menu-searchbar {
  display: flex;
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.menu-searchbar img {
  height: 21px;
  width: 21px;
  margin: 10px;
}
.menu-searchbar input {
  height: 21px;
  width: 290px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: none;
  outline: none;
  font-size: 1em;
  padding-left: 2px;
}

.ordering-title {
  width: 100%;
  background-color: lightgray;
  height: 40px;
  display: flex;
  align-items: center;
}

.ordering-title h2 {
  padding-left: 10px;
  font-weight: 200;
  font-size: 1.3em;
}

/*ordering buttons*/

.Ordering-items {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Ordering-items button {
  background: none;
  border: none;
  margin: 10px;
  height: 100px;
  width: 100px;
}

.Ordering-items img {
  height: 34px;
  width: 34px;
  margin: 10px;
}
.Ordering-items p {
  width: 94px;
  height: 34px;
  text-align: center;
}

.Ordering-items button:hover {
  background-color: #b4e6f8;
  border-radius: 5px;
  color: #00aeef;
}

/* for manager section of menu*/

.manager-title {
  width: 100%;
  background-color: lightgray;
  height: 40px;
  display: flex;
  align-items: center;
}

.manager-title h2 {
  padding-left: 10px;
  font-weight: 200;
  font-size: 1.3em;
}
/*manager buttons*/

.manager-items {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.manager-items button {
  background: none;
  border: none;
  margin: 10px;
  height: 100px;
  width: 100px;
}

.manager-items img {
  height: 34px;
  width: 34px;
  margin: 10px;
}
.manager-items p {
  width: 94px;
  height: 34px;
  text-align: center;
}

.manager-items button:hover {
  background-color: #b4e6f8;
  border-radius: 5px;
  color: #00aeef;
}

/*Others title*/
.others-title {
  width: 100%;
  background-color: lightgray;
  height: 40px;
  display: flex;
  align-items: center;
}

.others-title h2 {
  padding-left: 10px;
  font-weight: 200;
  font-size: 1.3em;
}

/*Others buttons*/
.others-items {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.others-items button {
  background: none;
  border: none;
  margin: 10px;
  height: 100px;
  width: 100px;
}

.others-items img {
  height: 34px;
  width: 34px;
  margin: 10px;
}
.others-items p {
  width: 94px;
  height: 34px;
  text-align: center;
}

.others-items button:hover {
  background-color: #b4e6f8;
  border-radius: 5px;
  color: #00aeef;
}
/* ------Menu Button complete------------*/

/* ------toolbar-left-dinein-title------------*/

.dinein-title {
  margin-left: 70px;
  height: 48px;
}

.title {
  display: flex;
  height: 48px;
  width: 90px;
  justify-content: center;
  align-items: center;
}

.title h1 {
  color: white;
  font-size: 1.6em;
  font-weight: 200;
  padding-right: 5px;
}

/* ------toolbar-left-dinein-button------------*/
.dinein-floor-btn {
  width: 100%;
  height: 48px;
}

.dinein-floor {
  width: 100%;
  height: 48px;
  display: flex;
}

.dinein-floor button {
  height: 48px;
  width: auto;
  background: none;
  border: none;
  border-left: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 1.1em;
  font-weight: 300;
}

.floor-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #00aeef;
}

/* ------toolbar-right------------*/
.toolbar-right {
  grid-area: toolbar-right;
  background-color: #00aeef;
  display: flex;
}

.toolbar-right-buttons {
  display: flex;
  justify-content: flex-end;
  height: 48px;
  width: 1000%;
}

.toolbar-right-buttons button {
  height: 48px;
  width: auto;
  background: none;
  border: none;
  border-left: 1px solid white;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

.toolbar-right-buttons img {
  height: 30px;
  width: 30px;
}

.toolbar-right-buttons span {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1em;
  color: white;
  font-weight: 200;
}

.toolbar-right-last-2-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-right-buttons button:hover {
  background-color: #0280ae;
}

/*-------------------------user-dropdown---------------------------------*/
.user-dropdown-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  background-color: white;
  height: auto;
  width: auto;
}

.container-hide {
  display: none;
}
.user-dropdown-container span {
  color: black;
  font-size: 1em;
  font-weight: 200;
}

.dropdown-change-password {
  padding: 5px;
  display: flex;
  align-items: center;
}

.dropdown-download {
  padding: 5px;
  display: flex;
  align-items: center;
}

.dropdown-switch-to-back {
  padding: 5px;
  display: flex;
  align-items: center;
}

.dropdown-logout {
  padding: 5px;
  display: flex;
  align-items: center;
}

.dropdown-change-password:hover {
  background-color: #ececec;
}

.dropdown-download:hover {
  background-color: #ececec;
}

.dropdown-switch-to-back:hover {
  background-color: #ececec;
}

.dropdown-logout:hover {
  background-color: #ececec;
}
/*-------------------------main---------------------------------*/
.tables {
  display: flex;
  background-color: #ececec;
  height: 100vh;
  width: 100%;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 200px;
  margin: 15px;
  width: 100%;
  min-height: 480px;
  background-color: #ffffff(255, 255, 255);
  overflow: hidden;
  overflow-y: scroll;
}

/*-------------------table scrollbar---------------------------------*/
.table-container::-webkit-scrollbar {
  width: 6px;
}

.table-container::-webkit-scrollbar-track {
  background-color: #ececec;
  border-radius: 20px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #828282;
  border-radius: 20px;
}

.tbl-1 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 200px;
  height: 110px;
  background-color: #6f6f6f;
  border-top-left-radius: 8px;
  box-shadow: 1px 1px 5px gray;
}

.tbl-1 button {
  width: 100%;
  height: 72px;
  border: none;
  border-left: 4px solid gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: left;
  font-size: 1em;
  padding-left: 2px;
}
.inside-tbl {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 190px;
  height: 30px;
}
.inside-tbl img {
  height: 20px;
  width: 20px;
  padding-right: 2px;
  padding-top: 5px;
}

/* ------floating bar------------*/

.floating-bar {
  position: absolute;
  bottom: 50px;
  height: 40px;
  width: 100%;
  background-color: #ececec;
  margin-top: 15px;
  margin-bottom: 10px;
}

.floating-bar-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
/* ------floating bar-occupied------------*/
.floating-bar-occupied {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: auto;
}

.occupied-box {
  height: 16px;
  width: 16px;
  background-color: orange;
  margin-left: 10px;
}

.floating-bar-occupied span {
  padding-left: 8px;
  padding-right: 10px;
  color: orange;
}

/* ------floating bar-vacant ------------*/
.floating-bar-vacant {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: auto;
}

.vacant-box {
  height: 16px;
  width: 16px;
  background-color: #6f6f6f;
  margin-left: 10px;
}

.floating-bar-vacant span {
  padding-left: 8px;
  padding-right: 10px;
  color: #6f6f6f;
}

/* ------footer------------*/
.dinein-footer {
  display: grid;
  grid-template-areas: "footer-left footer-right";
  background-color: #ffffff;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* ------footer-left------------*/

.footer-left {
  grid-area: footer-left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-left img {
  height: 30px;
  width: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.footer-left p {
  color: rgb(0, 0, 0);
  padding-right: 5px;
}

.footer-left-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.footer-left-fst {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.footer-left-browser {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}
/* ------footer-right------------*/

.footer-right {
  grid-area: footer-right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-right button {
  height: 40px;
  width: auto;
  background: none;
  border: none;
}

.footer-right-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right img {
  height: 30px;
  width: 30px;
}

.footer-right span {
  color: rgb(0, 0, 0);
  font-size: 1.3em;
  font-weight: 200;
  padding-left: 10px;
  padding-right: 5px;
}

.footer-right span:hover {
  color: #00aeef;
}
