* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  user-select: none;
  font-size: 1em;
}

.material-symbols-outlined {
  font-size: x-large !important;
  font-weight: 100 !important;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 45px auto 35px;
  overflow: hidden;
}

/*-------------------------header--------------------------*/

header {
  grid-area: header;
  background-color: #00aeef;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
  width: auto;
  padding: 0px 10px;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.header-buttons:hover {
  background-color: #00759f;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.page-heading {
  color: white;
  margin: 0px 5px;
  font-size: 1.4em;
  font-weight: 500;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.order-filter-buttons {
  transition: 0.2s ease-in;
}

.active-header-button {
  background-color: #00759f;
}

.popover {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 45px;
  right: -1000px;
  height: auto;
  width: auto;
  z-index: 100;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  font-size: 0.9em;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
}

.popover-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  padding: 10px 5px;
  border: none;
  border-radius: 2px;
  background: none;
  cursor: pointer;
  color: gray;
}

.popover-buttons p {
  padding: 0px 10px;
}

.popover-buttons:hover {
  background-color: #f2f3fa;
  color: #00aeef;
}

/*-------------------------nav--------------------------*/

nav {
  grid-area: nav;
  background-color: white;
  position: fixed;
  top: 45px;
  left: -500px; /* Initially hidden */
  height: 95%;
  width: 335px;
  display: grid;
  grid-template-rows: 55px auto;
  z-index: 10;
  transition: left 0.3s ease-in-out; /* Smooth transition */
  font-size: 0.9em;
  border-right: 1px solid lightgray;
}

.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  z-index: 9;
  cursor: pointer;
}

.nav-searchbar {
  margin: 7px 5px;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.search-input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0px 5px;
  background: none;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  height: 100%;
  width: auto;
  padding: 0px 5px;
  color: gray;
}

.navbar-main {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-bottom: 10px;
}

.navbar-main::-webkit-scrollbar {
  width: 6px; /* Set the scrollbar width */
}

.navbar-main::-webkit-scrollbar-thumb {
  background: gray; /* Thumb (draggable part) color */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
}

.navbar-main::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.navbar-options {
  display: flex;
  flex-direction: column;
}

.navbar-heading {
  background-color: lightgray;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 5px;
  font-size: 1.2em;
  font-weight: 500;
}

.navbar-buttons {
  margin: 10px;
  height: 90px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  color: gray;
  cursor: pointer;
}

.navbar-buttons:hover {
  background-color: #d8f0f9;
  color: #00aeef;
  border: 1px solid #00aeef;
  border-radius: 5px;
}

.navbar-buttons p {
  margin: 10px 0px;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.nav-active-option {
  background-color: #d8f0f9;
  color: #00aeef;
  border: 1px solid #00aeef;
  border-radius: 5px;
} 

/*-------------------------footer--------------------------*/
footer {
  grid-area: footer;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.9em;
}

.footer-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  padding: 0px 5px;
  background: none;
  border: none;
  border-radius: 2px;
  color: gray;
  cursor: pointer;
}

.footer-buttons p {
  margin: 0px 5px;
}

.footer-buttons:hover {
  color: #00aeef;
}

.footer-left {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 5px;
}

.footer-right {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 5px;
}